@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.banner {
    background: linear-gradient(135.46deg, #56d1f7, #77d4ff);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col-2 {
    float: left;
    width: 20%;
    height: auto;
}
.col-4 {
    float: left;
    width: 40%;
    height: auto;
}
.col-6 {
    float: left;
    width: 50%;
    height: auto;
}
.col-8 {
    float: left;
    width: 60%;
    height: auto;
}
.col-10 {
    float: left;
    width: 80%;
    height: auto;
}
.col-12 {
    float: left;
    width: 100%;
    height: auto;
}
.oru-card {
    background-color: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 0.5px solid rgb(236, 236, 236);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
}
.card-img {
    width: 100%;
    max-height: 200px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c-1gvix08 {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    color: rgb(255, 255, 255);
    background-color: #77d4ff;
    position: absolute;
    top: 16px;
    left: 0px;
    padding: 4px 12px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.card-details {
    padding-left: 30px;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
}
.card-details .oru-card-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #222;
}
.address {
    text-overflow: ellipsis;
    display: -webkit-box;
    box-orient: vertical;
    overflow: hidden;
}
.price {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
    color: rgba(27, 122, 3, 0.918);
    padding-bottom: 5px;
}
.hotelRating__rating {
    cursor: pointer;
    border-radius: 2px;
    padding: 3px 6px;
    margin-right: 9px;
    background-color: #52b520;
    font-size: 12px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    padding-bottom: 5px;
}
.btn-details {
    border: 1px solid #77d4ff;
    color: #77d4ff;
    padding: 5px 25px 5px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-details:hover {
    background-color: #77d4ff;
    color: #fff;
}
.card-details .action {
    padding-top: 15px;
}
/* Form */
input[type="date"],input[type="text"],input[type="number"] {
    background-color: #fff;
    border: none;
    padding: 10px 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
input[type="date"],input[type="text"],input[type="number"]:focus{
    outline: none;
}
input[type="submit"] {
    background-color: #77d4ff;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #027092;
    color: #fff;
}

/* Testimonial */
.x-scroll-container {
    background-color: #eee;
    width: 100%;
    height: 20vh;
    border: 1px dotted black;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media(max-width:750px) {
    .booking-container-heading{
        font-size: 25px;
    }
    .oru-card {
        width: 100%;
        height: auto;
    }
    .card-img {
        width: 100%;
        height: auto;
    }
    .c-1gvix08 {
        font-size: 8px;
    }
    .card-details {
        padding-left: 10px;
    }
    .card-details .oru-card-title {
        font-size: 15px;
    }
    .address {
        font-size: 12px;
    }
    .price {
        font-size: 15px;
    }
    .hotelRating__rating {
        padding: 2px 4px;
        margin-right: 9px;
        font-size: 10px;
    }
    .btn-details {
        padding: 3px 15px 3px;
        font-size: 12px;
    }
    .action {
        margin-bottom: 10px;
    }
}
@media(max-width:655px) {
    .booking-container-heading{
        font-size: 20px;
    }
    .oru-card {
        width: 100%;
        margin-bottom: 10px;
        padding-right: 3px;
    }
    .card-img {
        width: 100%;
        min-height: 125px;
    }
    .card-details {
        padding-left: 10px;
    }
    .card-details .oru-card-title {
        font-size: 13px;
        line-height: 10px;
    }
    .address {
        font-size: 11px;
    }
    .price {
        font-size: 13px;
    }
    .hotelRating__rating {
        padding: 1px 2px 1px;
        margin-right: 9px;
        font-size: 9px;
    }
    .btn-details {
        padding: 3px 12px 3px;
        font-size: 10px;
    }
    .action {
        margin-bottom: 10px;
        padding-bottom: 0;
    }
    /* Form */
    input[type="date"],input[type="text"],input[type="number"] {
        background-color: #fff;
        border: none;
        padding: 5px 10px 5px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        float: left;
    }
    input[type="submit"] {
        background-color: #77d4ff;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px 10px 5px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        float: center;
        margin-bottom: 10px;
    }
    input[type="submit"]:hover {
        background-color: #027092;
        color: #fff;
    }
}